.brands
  margin-bottom: 80px;

  @media mobile
    margin: 0 -15px 30px;

  &__title
    margin-bottom: 20px;
    color: #353535;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;

    @media mobile
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 37px;

  &__list
    &:not(.slick-initialized)
      display: flex;
      justify-content: space-between;
      align-items: center;

    &.slick-initialized
      .slick-list
        @media mobile
          padding: 10px 15px 10px 30px;

  &__item
    overflow: hidden;
    border-radius: 4px;

    img
      width: 100%;

    &:not(:last-child)
      margin-right: 15px;

    @media mobile
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
