#search
  position: relative;
  display: flex;
  max-width: 790px;

  input
    padding: 0 25px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #EFEFEF;

    @media mobile
      height: 80px;
      border-radius: 0;

  button
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 40px;
    border: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #FAA500;
    cursor: pointer;
    transition: $transition;

    @media desktop
      &:hover
        border-color: $yellow;
        background: #ffffff;

        span
          color: $yellow;

    @media mobile
      top: 50%;
      border-radius: 0;
      background: none;
      transform: translateY(-50%);

    span
      color: #FFFFFF;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      transition: $transition;

      @media mobile
        color: $yellow;
        font-size: 20px;

.search
  width: 100%;

  @media mobile
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(#000000, 70%);
    transition: $transition;
    transform: translateY(-100%);

    .on-search &
      transform: translateY(0);

    #search
      margin-top: 24px;
      width: 100%;
